<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}TITLE HERE{% endblock%}</title>
    <script src="http://code.jquery.com/jquery.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
    <link href="../static/stylesheet.css" rel="stylesheet">
</head>

<body>
    {% block content%}CONTENT GOES HERE{% endblock%}
</body>
</html>