{% extends 'base.html' %}
{% block title%}
ReadMe: About {{ term.term }}
{% endblock %}
{% block content %}

<div class="container">
<div class="row large-content">
    <div class="col-md-10 col-md-offset-1">
        <div class="col-md-8 poems">
            <div class="row algorithm-header">
                <h2>{{ term.term }}</h2>
                <br>
            </div>  <!-- end of algorithm-header row -->
            <div class="row associated poems">
                <h4 style="font-weight:bold;"> Associated Poems:</h4>
                <ul class="list-unstyled">
                {% for poem in poems %}
                    <li><a href="/{{poem.poem_id}}">{{ poem.title }}</a> by {{ poem.poet.name }}</li>
                {% endfor %}
                </ul>
            </div> <!-- end of poems row -->
        </div> <!-- end of poems column -->

        <div class="row context-graph" id="graph-space">
            <div class="col-md-4 graph">
                <div class="graph-box">
                    <canvas class="donut-chart" id="{{ term_data['iden'] }}" width="250" height="250"></canvas>
                    <div class="region-title">
                        <h3>{{ term_data['name'] }}</h3>
                        <h5>{{ term_data['total'] }} Poems Total</h5>
                    </div> <!-- end of region title div -->
                </div> <!-- end of graph-box div -->
            </div> <!-- end of graph column -->
        </div> <!-- end of graph space -->

    </div>  <!-- end of column -->
</div> <!-- end of main-content row -->
</div> <!-- end of container -->
<script>

var colorList = ["#0C090A", "#666362", "#000000", "#B6B6B4", "#736F6E",
                 "#3B3131", "#566D7E", "#2B1B17", "#BCC6CC"];
var i = -1;
var more;
    
var {{ term_data['iden'] }}data = [];

{% for t, number in term_data['others'] %}
    
    if (i > 8) {
        i = 0;
    } else {
        i += 1;
    };


    more = {value: {{ number }},
            color: colorList[i],
            highlight: "#696969",
            label: "{{ t }}".replace("&amp;", "&")};

    {{ term_data['iden'] }}data.push(more);

{% endfor %}

var {{ term_data['iden'] }}ctx = $("#{{ term_data['iden'] }}").get(0).getContext("2d");
var {{ term_data['iden'] }}Chart = new Chart({{ term_data['iden'] }}ctx).Doughnut({{ term_data['iden'] }}data);

</script>

{% endblock %}