{% extends 'base.html' %}
{% block title%}
ReadMe: About
{% endblock %}
{% block content %}
<div class="container">
<div class="row main-search">
    <div class="col-md-8 col-md-offset-2">
        <h3>About ReadMe</h3>
        <br><br>
        <p>There is an almost unfathomably large amount of poetry out in the world, and finding a poem that hits the right notes for an individual reader can be daunting at best. ReadMe is designed to help make this task easier by providing poetry recommendations based on the poems you know that you enjoy, or your current writing style in our Writer's Mode. </p>
    </div>
</div>
{% endblock %}