{% extends 'base.html' %}
{% block title%}
ReadMe: About {{ subject.subject }}
{% endblock %}
{% block content %}

<div class="container">
<div class="row large-content">
    <div class="col-md-10 col-md-offset-1">
        <div class="col-md-8 poems">
            <div class="row algorithm-header">
                <h4>{{ subject.subject }}</h4>
                <br>
            </div>  <!-- end of algorithm-header row -->
            <div class="row associated poems">
                <h4> Associated Poems:</h4>
                <ul class="list-unstyled">
                {% for poem in poems %}
                    <li><a href="/{{poem.poem_id}}">{{ poem.title }}</a> by {{ poem.poet.name }}</li>
                {% endfor %}
                </ul>
            </div> <!-- end of poems row -->
        </div> <!-- end of poems column -->

        <div class="row context-graph" id="graph-space">
            <div class="col-md-4 graph">
                <div class="graph-box">
                    <canvas class="donut-chart" id="{{ subject_data['iden'] }}" width="250" height="250"></canvas>
                    <div class="region-title">
                        <h3>{{ subject_data['name'] }}</h3>
                        <h5>{{ subject_data['total'] }} Poems Total</h5>
                    </div> <!-- end of region title div -->
                </div> <!-- end of graph-box div -->
            </div> <!-- end of graph column -->
        </div> <!-- end of graph space -->

    </div>  <!-- end of column -->
</div> <!-- end of main-content row -->
</div> <!-- end of container -->
<script>

var colorDic = {"Marriage & Companionship": "#9AFF9A",
                "Nature": "#96CDCD",
                "The Body": "#EE4000",
                "Social Commentaries": "#EECFA1",
                "Love": "#CAE1FF",
                "Living": "#8470FF",
                "Crime & Punishment": "#90EE90",
                "Relationships": "#CD8C95",
                "Men & Women": "#FF6347",
                "Realistic & Complicated": "#F0E68C",
                "Pets": "#CD5C5C",
                "Mythology & Folklore": "#EE7942",
                "Ghosts & the Supernatural": "#585858",
                "Family & Ancestors": "#118C4E",
                "History & Politics": "#6DBDD6",
                "Race & Ethnicity": "#E44424",
                "Landscapes & Pastorals": "#67BCDB",
                "Seas, Rivers, & Streams": "#558C89",
                "Poetic Terms": "#74AFAD",
                "Sonnet": "#D9853B",
                "Religion": "#7E8F7C",
                "Arts & Sciences": "#C63D0F",
                "Eating & Drinking": "#E9967A",
                "Christianity": "#528B8B",
                "Activities": "#483D8B",
                "Poetry & Poets": "#C1FFC1",
                "Free Verse": "#6CA6CD",
                "Trees & Flowers": "#A9A9A9",
                "Summer": "black",
                "Spring": "#B8860B",
                "Romantic Love": "#00008B",
                "Classic Love": "#FFB90F",
                "Rhymed Stanza": "#8B8878",
                "Cities & Urban Life": "#D2691E",
                "Popular Culture": "#98F5FF",
                "Youth": "#7FFFD4",
                "Home Life": "#8B8378",
                "Coming of Age": "#FFEFDB",
                "Time & Brevity": "#C1E1A6",
                "Death": "#9AFF9A",
                "Travels & Journeys": "#CD5C5C",
                "Humor & Satire": "#F0E68C",
                "School & Learning": "#FF6347",
                "Syllabic": "#90EE90",
                "Blank Verse": "#CD8C95",
                "Ode": "#8470FF",
                "War & Conflict": "#CAE1FF",
                "Sorrow & Grieving": "#EECFA1",
                "Reading & Books": "#EE4000",
                "Animals": "#96CDCD",
                "Disappointment & Failure": "#9AFF9A",
                "Growing Old": "#DB7093",
                "Music": "#B0E0E6",
                "First Love": "#4169E1",
                "Philosophy": "#2E8B57",
                "Painting & Sculpture": "#555555",
                "Theater & Dance": "#7D9EC0",
                "Weather": "#CAB388",
                "Fairy-tales & Legends": "B7A6AD",
                "Birth & Birthdays": "#A8ADB4",
                "Class": "#FF9009",
                "Sports & Outdoor Activities": "#C1E1A6",
                "Midlife": "#CD5C5C",
                "Faith & Doubt": "#9AFF9A",
                "Metaphor": "#C1E1A6",
                "Gender & Sexuality": "#FFEFDB",
                "Sciences": "#8B8378",
                "Parenthood": "#98F5FF",
                "Infancy": "#D2691E",
                "Imagery": "#CD5C5C",
                "Stars, Planets, Heavens": "#7D9EC0",
                "Heartache & Loss": "#555555",
                "Life Choices": "#DB7093",
                "Heroes & Patriotism": "#9AFF9A",
                "Greek & Roman Mythology": "#CD8C95",
                "Health & Illness": "#8470FF",
                "Break-ups & Vexed Love": "#FF6347",
                "Friends & Enemies": "#C1E1A6",
                "Desire": "#DB7093",
                "Couplet": "#B0E0E6",
                "God & the Divine": "#4169E1",
                "Aphorism": "#2E8B57",
                "The Mind": "#555555",
                "Horror": "#A8ADB4",
                "Other Religions": "#74AFAD",
                "The Spiritual": "#D9853B",
                "Indoor Activities": "#558C89",
                "Fall": "#6DBDD6",
                "Jobs & Working": "#A9A9A9",
                "Dramatic Monologue": "#E44424",
                "Infatuation & Crushes": "#FF9009",
                "Money & Economics": "#483D8B",
                "Separation & Divorce": "#A9A9A9",
                "Winter": "#B8860B",
                "Town & Country Life": "#7E8F7C",
                "Gardening": "#C1FFC1",
                "Persona": "#528B8B",
                "Ballad": "#C63D0F",
                "Judaism": "#E9967A",
                "Pastoral": "#FFB90F",
                "Unrequited Love": "#DB7093",
                "Epigram": "#B0E0E6",
                "Photography & Film": "#4169E1",
                "Elegy": "#2E8B57",
                "Architecture & Design": "#555555",
                "Common Measure": "#7D9EC0",
                "Nursery Rhymes": "B7A6AD",
                "Limerick": "#CAB388",
                "Concrete or Pattern Poetry": "#A8ADB4",
                "Mixed": "#FF9009",
                "Sestina": "#C1E1A6",
                "Language & Linguistics": "#585858",
                "Ghazal": "#118C4E",
                "Buddhism": "#6DBDD6",
                "Alliteration": "#E44424",
                "Epic": "#67BCDB",
                "Allusion": "#558C89",
                "Simile": "#74AFAD",
                "Epigraph": "#D9853B",
                "Islam": "#7E8F7C",
                "Assonance": "#E9967A",
                "Consonance": "#C63D0F",
                "Ars Poetica": "#528B8B",
                "Refrain": "#C1FFC1",
                "Ekphrasis": "#483D8B",
                "Haiku": "#6CA6CD",
                "Prose Poem": "#A9A9A9",
                "Confessional": "black",
                "Villanelle": "#B8860B",
                "Epistle": "#00008B",
                "Epithalamion": "#FFB90F",
                "Aubade": "#8B8878",
                "Series/Sequence": "#D2691E",
                "Visual Poetry": "#98F5FF",
                "Pantoum": "#7FFFD4",
                "Terza Rima": "#8B8378",
                "Tercet": "#FFEFDB",
                "Quatrain": "#EE7942",
                "Only Marriage & Companionship": "#9AFF9A",
                "Only Nature": "#96CDCD",
                "Only The Body": "#EE4000",
                "Only Social Commentaries": "#EECFA1",
                "Only Love": "#CAE1FF",
                "Only Living": "#8470FF",
                "Only Crime & Punishment": "#90EE90",
                "Only Relationships": "#CD8C95",
                "Only Men & Women": "#FF6347",
                "Only Realistic & Complicated": "#F0E68C",
                "Only Pets": "#CD5C5C",
                "Only Mythology & Folklore": "#EE7942",
                "Only Ghosts & the Supernatural": "#585858",
                "Only Family & Ancestors": "#118C4E",
                "Only History & Politics": "#6DBDD6",
                "Only Race & Ethnicity": "#E44424",
                "Only Landscapes & Pastorals": "#67BCDB",
                "Only Seas, Rivers, & Streams": "#558C89",
                "Only Poetic Terms": "#74AFAD",
                "Only Sonnet": "#D9853B",
                "Only Religion": "#7E8F7C",
                "Only Arts & Sciences": "#C63D0F",
                "Only Eating & Drinking": "#E9967A",
                "Only Christianity": "#528B8B",
                "Only Activities": "#483D8B",
                "Only Poetry & Poets": "#C1FFC1",
                "Only Free Verse": "#6CA6CD",
                "Only Trees & Flowers": "#A9A9A9",
                "Only Summer": "black",
                "Only Spring": "#B8860B",
                "Only Romantic Love": "#00008B",
                "Only Classic Love": "#FFB90F",
                "Only Rhymed Stanza": "#8B8878",
                "Only Cities & Urban Life": "#D2691E",
                "Only Popular Culture": "#98F5FF",
                "Only Youth": "#7FFFD4",
                "Only Home Life": "#8B8378",
                "Only Coming of Age": "#FFEFDB",
                "Only Time & Brevity": "#C1E1A6",
                "Only Death": "#9AFF9A",
                "Only Travels & Journeys": "#CD5C5C",
                "Only Humor & Satire": "#F0E68C",
                "Only School & Learning": "#FF6347",
                "Only Syllabic": "#90EE90",
                "Only Blank Verse": "#CD8C95",
                "Only Ode": "#8470FF",
                "Only War & Conflict": "#CAE1FF",
                "Only Sorrow & Grieving": "#EECFA1",
                "Only Reading & Books": "#EE4000",
                "Only Animals": "#96CDCD",
                "Only Disappointment & Failure": "#9AFF9A",
                "Only Growing Old": "#DB7093",
                "Only Music": "#B0E0E6",
                "Only First Love": "#4169E1",
                "Only Philosophy": "#2E8B57",
                "Only Painting & Sculpture": "#555555",
                "Only Theater & Dance": "#7D9EC0",
                "Only Weather": "#CAB388",
                "Only Fairy-tales & Legends": "B7A6AD",
                "Only Birth & Birthdays": "#A8ADB4",
                "Only Class": "#FF9009",
                "Only Sports & Outdoor Activities": "#C1E1A6",
                "Only Midlife": "#CD5C5C",
                "Only Faith & Doubt": "#9AFF9A",
                "Only Metaphor": "#C1E1A6",
                "Only Gender & Sexuality": "#FFEFDB",
                "Only Sciences": "#8B8378",
                "Only Parenthood": "#98F5FF",
                "Only Infancy": "#D2691E",
                "Only Imagery": "#CD5C5C",
                "Only Stars, Planets, Heavens": "#7D9EC0",
                "Only Heartache & Loss": "#555555",
                "Only Life Choices": "#DB7093",
                "Only Heroes & Patriotism": "#9AFF9A",
                "Only Greek & Roman Mythology": "#CD8C95",
                "Only Health & Illness": "#8470FF",
                "Only Break-ups & Vexed Love": "#FF6347",
                "Only Friends & Enemies": "#C1E1A6",
                "Only Desire": "#DB7093",
                "Only Couplet": "#B0E0E6",
                "Only God & the Divine": "#4169E1",
                "Only Aphorism": "#2E8B57",
                "Only The Mind": "#555555",
                "Only Horror": "#A8ADB4",
                "Only Other Religions": "#74AFAD",
                "Only The Spiritual": "#D9853B",
                "Only Indoor Activities": "#558C89",
                "Only Fall": "#6DBDD6",
                "Only Jobs & Working": "#A9A9A9",
                "Only Dramatic Monologue": "#E44424",
                "Only Infatuation & Crushes": "#FF9009",
                "Only Money & Economics": "#483D8B",
                "Only Separation & Divorce": "#A9A9A9",
                "Only Winter": "#B8860B",
                "Only Town & Country Life": "#7E8F7C",
                "Only Gardening": "#C1FFC1",
                "Only Persona": "#528B8B",
                "Only Ballad": "#C63D0F",
                "Only Judaism": "#E9967A",
                "Only Pastoral": "#FFB90F",
                "Only Unrequited Love": "#DB7093",
                "Only Epigram": "#B0E0E6",
                "Only Photography & Film": "#4169E1",
                "Only Elegy": "#2E8B57",
                "Only Architecture & Design": "#555555",
                "Only Common Measure": "#7D9EC0",
                "Only Nursery Rhymes": "B7A6AD",
                "Only Limerick": "#CAB388",
                "Only Concrete or Pattern Poetry": "#A8ADB4",
                "Only Mixed": "#FF9009",
                "Only Sestina": "#C1E1A6",
                "Only Language & Linguistics": "#585858",
                "Only Ghazal": "#118C4E",
                "Only Buddhism": "#6DBDD6",
                "Only Alliteration": "#E44424",
                "Only Epic": "#67BCDB",
                "Only Allusion": "#558C89",
                "Only Simile": "#74AFAD",
                "Only Epigraph": "#D9853B",
                "Only Islam": "#7E8F7C",
                "Only Assonance": "#E9967A",
                "Only Consonance": "#C63D0F",
                "Only Ars Poetica": "#528B8B",
                "Only Refrain": "#C1FFC1",
                "Only Ekphrasis": "#483D8B",
                "Only Haiku": "#6CA6CD",
                "Only Prose Poem": "#A9A9A9",
                "Only Confessional": "black",
                "Only Villanelle": "#B8860B",
                "Only Epistle": "#00008B",
                "Only Epithalamion": "#FFB90F",
                "Only Aubade": "#8B8878",
                "Only Series/Sequence": "#D2691E",
                "Only Visual Poetry": "#98F5FF",
                "Only Pantoum": "#7FFFD4",
                "Only Terza Rima": "#8B8378",
                "Only Tercet": "#FFEFDB",
                "Only Quatrain": "#EE7942"};

    
var {{ subject_data['iden'] }}data = [
{% for t, number in subject_data['others'] %}
    {
        value: {{ number }},
        color: colorDic["{{ t }}".replace("&amp;", "&")],
        highlight: "#696969",
        label: "{{ t }}".replace("&amp;", "&")
    },
{% endfor %}
]

var {{ subject_data['iden'] }}ctx = $("#{{ subject_data['iden'] }}").get(0).getContext("2d");
var {{ subject_data['iden'] }}Chart = new Chart({{ subject_data['iden'] }}ctx).Doughnut({{ subject_data['iden'] }}data);

</script>

{% endblock %}