{% extends 'base.html' %}
{% block title%}
ReadMe: About
{% endblock %}
{% block content %}
<div class="container">
<div class="row large-content">
    <div class="col-md-8 col-md-offset-2">
        <h3>About <span class="bold">Read</span><span style="color:gray">Me</span></h3>
        <br>
        <p>There is an almost unfathomably large amount of poetry out in the world, and finding a poem that hits the right notes for an individual reader can be daunting at best. ReadMe is designed to help make this task easier by providing poetry recommendations based on the poems you know that you enjoy, or, in the case of our Writer's Mode, help you grow your own writing by exposing you to great poems that are similar in style to your own.</p>
        <p>Our database contains over ten thousand poems which we sort through to find the best match. Each time you search for recommendations, ReadMe will provide five distinct poems for you to read -- each of which is based on a slightly different variation of our matching algorithm. In this way, if you provide feedback as to which match you think is the best, we can improve the algorithm to provide even better and more reliable recommendations.</p>
        <p>The data we gather on each poem is divided into four catagories:</p>
            <ul>
                <li>Macro Lexical Data: This is the information about the shape and flow of the poem (how long is it, does it follow a strict form, etc.) There are traits you can see immediately upon viewing a poem.</li>
                <li>Micro Lexical Data: This is the information about the way language is employed in the poem (does it have a rhyme scheme, does it use illiteration, is there a narrative presence and if so to what degree, etc.)</li>
                <li>Sentiment Data: This is information about the sorts of language the poem uses (what percentage of the words in the poem are considered positive or negative? active or passive? etc.).</li>
                <li>Context Data: This is information that was provided by The Poetry Foundation, where we got our database -- the Poetry Foundation has poems catagorized by Subject (i.e. Romance, Living, The Mind), Poetic Term (i.e. Metaphor, Free Verse), and Region (i.e. U.S., Western).</li>
            </ul>
        <p>ReadMe was created by Kendra Peterson, a software engineer and avid reader with a degree in English Literature from Stanford University.</p>
        <p>Enjoy!</p>
        <br><br>
    </div>
</div>
{% endblock %}