{% extends 'base.html' %}
{% block title %}
ReadMe: Algorithm
{% endblock %}
{% block content %}
<div class="container">
<div class="row large-content">
    <div class="col-md-8 col-md-offset-2">
        <h3>The Recommendation Algorithm</h3>
        <p>ReadMe collects information on every poem in order make the best recommendations -- we split the types of information into four catagories, which you can learn more about below. During the recommendation process, we compare all the collected data in order to find the most stylistically similar poems.</p>
        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The final recommendations you see each come from slight variations in the algorithm -- one poem is the best recommendation if we value all data equally, one if we weight Macro Lexical Data as of greater importance, one if we weight Micro Lexical Data as of greater importance, and so on thrugh Sentiment Data and Context Data. </p>
        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We shuffle the results before displaying them in order to control for a bias caused by the position of the result, and ask you to let us know which poem you like best to help us narrow in on which catagories users find more important.</p>
    </div> <!-- end of column -->
</div> <!-- end of main-search row -->
<div class="row sub-content">
    <div class="col-md-2 col-md-offset-2">
        <h4 class="oneten"><a href="/algorithm/macro">Macro Lexical Data</a></h4>
        <p class="ninety">Learn more about how ReadMe measures the structure and flow while analyzing a poem.</p>
    </div> <!-- end of column -->
    <div class="col-md-2">
        <h4 class="oneten"><a href="/algorithm/micro">Micro Lexical Data</a></h4>
        <p class="ninety">Learn more about how ReadMe measures the rhythm and style while analyzing a poem.</p>
    </div> <!-- end of column -->
    <div class="col-md-2">
        <h4 class="oneten"><a href="/algorithm/sentiment">Sentiment Data</a></h4>
        <p class="ninety">Learn more about how ReadMe measures the emotional content while analyzing a poem.</p>
    </div> <!-- end of column -->
    <div class="col-md-2">
        <h4 class="oneten"><a href="/algorithm/context">Context Data</a></h4>
        <p class="ninety">Learn mode about how ReadMe employs context data to recommend the best poems.</p>
    </div> <!-- end of column -->
</div> <!-- end of main-search row -->
</div> <!-- end of container -->
{% endblock %}