{% extends 'base.html' %}
{% block title %}
ReadMe: Algorithm
{% endblock %}
{% block content %}
<div class="container">
<div class="row main-content">
    <div class="col-md-8 col-md-offset-2">
        <h4>The Recommendation Algorithm</h4>
        <br><br>
        <p>This area will contain some content yet to be written, detailing the algorithm used to provide recommendations, the different criteria, how they are prioritized, etc. If possible, we'll incorporate some awesome d3 visualizations on this page to allow users to look at the data and see how the poems land on different metrics.</p>
    </div> <!-- end of column -->
</div> <!-- end of main-search row -->
<div class="row sub-content">
    <div class="col-md-2 col-md-offset-2">
        <h5><a href="/algorithm/macro">Macro Lexical Data</a></h5>
        <p>Here is some information about what this category is. Blah Blah Blah.</p>
    </div> <!-- end of column -->
    <div class="col-md-2">
        <h5><a href="/algorithm/micro">Micro Lexical Data</a></h5>
        <p>Here is some information about what this category is. Blah Blah Blah.</p>
    </div> <!-- end of column -->
    <div class="col-md-2">
        <h5><a href="/algorithm/sentiment">Sentiment Analysis</a></h5>
        <p>Here is some information about what this category is. Blah Blah Blah.</p>
    </div> <!-- end of column -->
    <div class="col-md-2">
        <h5><a href="/algorithm/context">Context Data</a></h5>
        <p>Here is some information about what this category is. Blah Blah Blah.</p>
    </div> <!-- end of column -->
</div> <!-- end of main-search row -->
</div> <!-- end of container -->
{% endblock %}