{% extends 'base.html' %}
{% block title %}
ReadMe: Algorithm
{% endblock %}
{% block content %}
<div class="container">
<div class="row main-content">
    <div class="col-md-8 col-md-offset-2">
        <h3>Context Catagories</h3>
        <br><br>
        <p>The Poetry Foundation, where we got the poetry for our database, has poems catagorized by Subject, Poetic Term, and Region. The Poetry Foundation's catagories for Poetic Term and Subject are subjective, but we still value this data in order to find the best match. This last catagory is not meaningful in writer mode, since user submitted poems do not come pre-tagged with Region, Subject, or Poetic Term.</p>
    </div> <!-- end of column -->
</div> <!-- end of main-search row -->
<div class="row sub-content">
    <div class="col-md-2 col-md-offset-3">
        <h4><a href="/algorithm/regions">Regions</a></h4>
        <p class="ninety">Learn more about the possible regions and about the relationships between them.</p>
    </div> <!-- end of column -->
    <div class="col-md-2">
        <h4><a href="/algorithm/subjects">Subjects</a></h4>
        <p class="ninety">Learn more about the possible subjects and about the relationships between them.</p>
    </div> <!-- end of column -->
    <div class="col-md-2">
        <h4><a href="/algorithm/terms">Poetic Terms</a></h4>
        <p class="ninety">Learn more about the possible poetic terms and about the relationships between them.</p>
    </div> <!-- end of column -->
</div> <!-- end of main-search row -->
</div> <!-- end of container -->
{% endblock %}