{% extends 'base.html' %}
{% block title %}
ReadMe: Context
{% endblock %}
{% block content %}
<script>

    var deets = null;


    $.get('/subjectgraph.json', function (data) {
        deets = data;
        console.log("data received!");
    });

</script>
<div class="container">
<div class="row large-content">
    <div class="col-md-8 col-md-offset-2">
        <div class="row algorithm-header">
            <h4>Context Data</h4>
            <br>
            <p>This area will contain some text explaining what this data catagory is on a macro level</p>
        </div>  <!-- end of algorithm-header row -->
        <div class="row algorithm-catagory">
            <h5>Subjects</h5>
            <p>Here is some information about what this category is. Blah Blah Blah.</p>
        </div>  <!-- end of algorithm-catagory row -->
        <div class="graph-information" id="subject-info">
        </div> <!-- end of graph-information row -->
        <div class="row algorithm-graph" id="subjects-graph">
        </div>  <!-- end of algorithm-graph row -->
        <div class="row algorithm-catagory">
            <h5>Poetic Terms</h5>
            <p>Here is some information about what this category is. Blah Blah Blah.</p>
        </div>  <!-- end of algorithm-catagory row -->
        <div class="row algorithm-graph" id="terms-graph">
        </div>  <!-- end of algorithm-graph row -->
        <div class="row algorithm-catagory">
            <h5>Region</h5>
            <p>Here is some information about what this category is. Blah Blah Blah.</p>
        </div>  <!-- end of algorithm-catagory row -->
        <div class="row algorithm-graph" id="region-graph">
        </div>  <!-- end of algorithm-graph row -->
    </div>  <!-- end of column -->
</div> <!-- end of main-content row -->
</div> <!-- end of container -->
<script>

    var width = 800;
    var height = 600;

    // var nodes = [
    //     {id: '1', subject: 'Marriage & Companionship', poet: null},
    //     {id: '2', subject: 'Living', poet: null},
    //     {id: '3', subject: 'Love', poet: null},
    //     {id: '10', title: 'Probation', poet: 'Averill Curdy'},
    //     {id: '12249', title: 'Song ("The world is full of loss ... ")', poet: 'Muriel Rukeyser'},
    //     {id: '146729', title: 'Self-Portrait', poet: 'Chase Twichell'},
    //     {id: '146821', title: 'Edward Hopper Study: Hotel Room', poet: 'Victoria Chang'},
    //     {id: '15', title: 'Recitative', poet: 'A. E. Stallings'},
    //     {id: '171044', title: 'Incubus', poet: 'Craig Arnold'},
    //     {id: '171045', title: 'Togetherness', poet: 'Yusef Komunyakaa'},
    //     {id: '171226', title: 'The Ache of Marriage', poet: 'Denise Levertov'},
    //     {id: '171241', title: 'A Time Past', poet: 'Denise Levertov'},
    //     {id: '171243', title: 'Twenty-year Marriage', poet: 'Ai'},
    // ];

    // The `links` array contains objects with a `source` and a `target`
    // property. The values of those properties are the indices in
    // the `nodes` array of the two endpoints of the link.

    // var links = [
    //    {source: 1, target: 3},
    //    {source: 2, target: 3},
    //    {source: 0, target: 3},
    //    {source: 0, target: 4},
    //    {source: 0, target: 5},
    //    {source: 0, target: 6},
    //    {source: 0, target: 7},
    //    {source: 0, target: 8},
    //    {source: 0, target: 9},
    //    {source: 0, target: 10},
    //    {source: 0, target: 11},
    //    {source: 0, target: 12},
    // ];

    // Here's were the code begins. We start off by creating an SVG
    // container to hold the visualization. We only need to specify
    // the dimensions for this container.

    var svg = d3.select('#subjects-graph').append('svg')
                .attr('width', width)
                .attr('height', height);

    // Now we create a force layout object and define its properties.
    // Those include the dimensions of the visualization and the arrays
    // of nodes and links.
    function tick() {
       link.attr("x1", function(d) { return d.source.x; })
           .attr("y1", function(d) { return d.source.y; })
           .attr("x2", function(d) { return d.target.x; })
           .attr("y2", function(d) { return d.target.y; });

       node.attr("cx", function(d) { return d.x; })
           .attr("cy", function(d) { return d.y; });
     }

    var force = d3.layout.force()
                  .size([width, height])
                  .nodes(nodes)
                  .links(links)
                  .linkDistance(50)
                  .charge(-400)
                  .on("tick", tick)
                  .start();

    var drag = force.drag().on("dragstart", dragstart);

    force.linkDistance(width / 4);

    function dragstart(d) {
        d3.select(this).classed("fixed", d.fixed = true);
    }

    var link = svg.selectAll('.link')
                  .data(links)
                  .enter().append('line')
                  .attr('class', 'link')
                  .attr('style', 'stroke:black;stroke-width:2px;');

    // Now it's the nodes turn. Each node is drawn as a circle.

    var node = svg.selectAll('.node')
                  .data(nodes)
                  .enter()
                  .append('circle')
                  .attr("r", function (d) { return size(d) })
                  .attr("class", function (d) { return pclass(d) })
                  .style("fill", function (d) { return color(d) })
                  .attr("information", function (d) { return storeInfo(d) })
                  .attr("link", function (d) { return getLink(d) })
                  .call(drag);

    function color(item) {
        if (item.poet !== null) {
            return 'black';
        } else {
            return '#808080';
        };
    }

    function size(item) {
        if (item.poet !== null) {
            return 10;
        } else {
            return 25
        };
    }

    function pclass(item) {
        if (item.poet !== null) {
            return "node poem-node";
        } else {
            return "node subject-node";
        };
    }

    function storeInfo(item) {
        if (item.poet !== null) {
            var poemData = item.title + " by " + item.poet
            return poemData;
        } else {
            return item.subject;
        };
    }

    function getLink(item) {
        if (item.poet !== null) {
            return "/" + item.id;
        } else {
            return null;
        };
    }

    function displayData(evt) {
        var infoText = this.getAttribute('information')
        var finalText = "Poem: " + infoText
        $('#subject-info').html(finalText);
    }

    function removeData(evt) {
        $('#subject-info').html("");
    }

    function changeURL(evt) {
        url = this.getAttribute('link')
        window.location.href = url;
    }

    function displaySubject(evt) {
        infoText = this.getAttribute('information')
        finalText = "Subject: " + infoText
        $('#subject-info').html(finalText);
    }

    $('.poem-node').hover(displayData, removeData);
    $('.poem-node').on('dblclick', changeURL)
    $('.subject-node').hover(displaySubject, removeData);

</script>

{% endblock %}