{% extends 'base.html' %}
{% block title%}
ReadMe: Recommendations
{% endblock %}
{% block content %}
<div class="container">

<div class="row main-content">
    <div class="col-md-8 col-md-offset-1 reading">
        <h2 class="title main"> {{ match_poem.title }}</h2>
        <h4 class="author main"> by {{ match_poem.poet.name }}</h4>
        <br>
        <div class="poem-content">
            {{ match_poem.formatted_text|safe }}
        </div>
    </div> <!-- end of first column -->
    <div class="col-md-2">

            {% if wikipedia_url %}
        <div class="wikipedia">
            <a href= {{ wikipedia_url }}>
            <img class="author-photo" src={{ source }}>
            <h6 class="learn-more">Read More About {{ match_poem.poet.name }}</h6>
            </a>
        </div>
            {% endif %}

        <div class="row results">
            <h5 class="title">
                <a href='/{{main_poem.poem_id}}'>{{ main_poem.title }}</a>
            </h5>
            <h6 class="author">By {{ main_poem.poet.name }}</h6>
            <p class="main-poem">Matched Poem</p>
        </div>

        {% for poem, match in match_poems %}
        <div class="row results">
            <h5 class="title">
                <a href='/{{main_poem.poem_id}}/1'>{{ poem.title }}</a>
            </h5>
            <h6 class="author">{{ poem.poet.name }}</h6>
            <p class="match-percent">{{ match }}%</p>
        </div>
        {% endfor %}

    </div> <!-- end of results column -->
</div> <!-- end of main-content row -->
</div> <!-- end of container div -->

{% endblock %}
