{% extends 'base.html' %}
{% block title%}
ReadMe: Recommendations
{% endblock %}
{% block content %}
<div class="container">

<div class="row main-content">
    <div class="col-md-8 col-md-offset-1 reading">
        <h2 class="title main"> {{ match_poem.title }}</h2>
        <h4 class="author main"> by {{ match_poem.poet.name }}</h4>
        <p style="font-size:medium;"><a href="{{match_poem.url}}">Read on The Poetry Foundation</a></p>
        <p style="font-size:medium;"><a href="/{{match_poem.poem_id}}/about">See Stats</a></p>
        {% if match_poem.title != main_poem.title %}
        <p style="font-size:medium;"><a href="/{{match_poem.poem_id}}">More Like This</a></p>
        {% endif %}
        <br>
        <div class="poem-content">
            {{ match_poem.formatted_text|safe }}
        </div>
    </div> <!-- end of first column -->
    <div class="col-md-2">

            {% if wikipedia_url %}
        <div class="wikipedia">
            <a href= {{ wikipedia_url }}>
            <img class="author-photo" src={{ source }}>
            <h6 class="learn-more">Read More About {{ match_poem.poet.name }}</h6>
            </a>
        </div>
            {% endif %}

        <div class="row results">
            <h5 class="title" style="font-size:60%;">
                <a href='/{{main_poem.poem_id}}/0'>{{ main_poem.title }}</a>
            </h5>
            <h6 class="author" style="font-size:45%;">By {{ main_poem.poet.name }}</h6>
            <p class="main-poem" style="font-size:medium;">Matched Poem</p>
        </div>

        <div class="row results" style="font-size:70%;border-top:1px solid black;border-bottom:1px solid black;">
            <h5 style="font-size:medium;font-weight:bold;">Best Recommendations:</h5>
            <p style="font-size:medium;font-style:italic;">Select which recommendation you think is the best by selecting the heart next to its title.</p>
        </div>
        {% for poem, i in match_poems %}
        <div class="row results">
            <img class="best-button {{ poem.poet.name }}" id="{{ poem.poem_id }}/{{i}}" src="../static/greyheart.png">
            <div class="suggestion-poem">
                <h5 class="title" style="font-size:60%">
                    <a href='/{{main_poem.poem_id}}/{{poem.poem_id}}'>
                        {{ poem.title }}
                    </a>
                </h5>
                <h6 class="author" style="font-size:45%">{{ poem.poet.name }}</h6>
            </div>
        </div>
        {% endfor %}

    </div> <!-- end of results column -->
</div> <!-- end of main-content row -->
</div> <!-- end of container div -->
<script>

var main_poem = {{ main_poem.poem_id }};

function success() {
    console.log("Success!");
}

function changeImage(evt) {
    $('.best-button').attr('src', '../static/greyheart.png');
    var information = evt.currentTarget.id;
    evt.currentTarget.src = '../static/goldheart.png';
    // send the id to a route to log it
    $.post('/feedback', {"main_poem": main_poem, "match_poem": information}, success);
    // $(".best-button").off('click');
}


{% if best_selected %}
        $(".{{ best_selected|replace('u&#39;','')|replace('&#39;','') }}").attr('src', '../static/goldheart.png');
{% endif %}

$(".best-button").on('click', changeImage);


</script>
{% endblock %}
