<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ReadMe</title>
    <script src="http://code.jquery.com/jquery.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
    <script>
        function unpack(data) {
            searchCriteria = data.search
            console.log(searchCriteria)
            setSearch()
        }
        
        $.get('/search.json', unpack)
    </script>
    <link href="../static/stylesheet.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">ReadMe</a>
    </div>
      <ul class="nav navbar-nav">
        <li><a href="#">About</a></li>
        <li><a href="#">Writer Mode</a></li>
        <li><a href="#">The Algorithm</a></li>
      </ul>
<!-- beginning of right side of menu -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Login</a></li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>
 <!--- end of nav bar container -->

<div class="container">
<div class="row main-search">
    <div class="col-md-8 col-md-offset-2">
        <div id="bloodhound">
        <input id="search" class="typeahead" type="text" placeholder="Search for a Poem by Title or Author"> <button id="search-button" disabled="disabled">Search</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-md-offset-3">
            <p class="search-option right-align"><a href="#">Random Poem</a></p>
    </div>
    <div class="col-md-3">
        <p class="search-option"><a href="#">Advanced Search</a></p>
    </div>
</div>

<script>

var searchCriteria = []
var poemID = 0
var button = $("#search-button")

function unpack(data) {
    searchCriteria = data.search
    console.log(searchCriteria)
    setSearch()
}

function setSearch() {
    var poems = new Bloodhound({

        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('title'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        local: searchCriteria
    });

    $('#bloodhound .typeahead').typeahead({
        hint: true,
        highlight: true,
        minLength: 3
    }, {
        name: 'poems',
        displayKey: 'title',
        source: poems.ttAdapter()
    });
};

$("#search").on('input', checkId);
$('.typeahead').on('typeahead:selected', checkId);
$('.typeahead').on('typeahead:autocompleted', checkId);
$("#search-button").on('click', startSearch);

function startSearch() {
    url = "/" + poemID.toString()
    window.location.href = url;
};


function checkId() {
    poemID = 0;
    button.attr('disabled','disabled');
    for (i = 0; i < searchCriteria.length; i++) {
        x = searchCriteria[i];
        if (x.title == $("#search").val()) {
            console.log(x.id);
            poemID = x.id;
            button.removeAttr('disabled')
            break;
        };
    };
};


</script>
</body>
</html>