<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ReadMe</title>
    <script src="../static/jquery-2.1.4.min.js"></script>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <script src="../static/typeahead.js"></script>
    <script>

        var searchCriteria = []

        function unpack(data) {
            searchCriteria = data.search
            console.log(searchCriteria)
            setSearch()
        }

        function setSearch() {
            var poems = new Bloodhound({

                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('title', 'author'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                local: searchCriteria
            });

            $('#custom-templates .typeahead').typeahead({
                hint: true,
                highlight: true,
                minLength: 3
            }, {
                name: 'poems',
                displayKey: 'title',
                source: poems.ttAdapter(),
                templates: {
                    suggestion: function(data) {
                        return '<p><strong>' + data.title + '</strong> – by ' + data.author + '</p>';
                    }
                }
            });

            var style = $('span.twitter-typeahead').attr('style')
            $('span.search-button').attr('style', style)
        };
        
        $.get('/search.json', unpack)
    </script>
    <link href="/static/stylesheet.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">ReadMe</a>
    </div>
      <ul class="nav navbar-nav">
        <li><a href="/about">About</a></li>
        <li><a href="/writer-mode">Writer Mode</a></li>
        <li><a href="/algorithm">The Algorithm</a></li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>
 <!--- end of nav bar container -->

<div class="container">
<div class="row main-search">
    <div class="col-md-8 col-md-offset-2">
        <div id="custom-templates">
        <input id="search" class="typeahead" type="text" placeholder="Search for a Poem by Title or Author"> </div>   <!-- end of bloodhoud div -->
        <span "search-button"><button id="search-button" disabled="disabled">Search
        </button></span>
    </div> <!-- end of column  -->
</div> <!-- end of main-search row -->

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <ul>
            <li class="search-option">
                <a href="/random">Random Poem</a>
            </li>
            <li class="search-option">
                <img src="../static/checked.png" class="checkbox-img" id="new-auth" value='True'>
                    Only Show New Poets
            </li>
            <li class="search-option">
               <img src="../static/checked.png" class="checkbox-img" id="unique-auth" value='True'>
                    Only Show One Results Per Poet
            </li>
        </ul>
    </div> <!-- end of column -->
</div> <!-- end of row -->

<script>

// var searchCriteria = []
var poemID = 0;
var button = $("#search-button");
var uniqueAuth = 'True';
var newAuth = 'True';

$("#search").on('input', checkId);
$('.typeahead').on('typeahead:selected', checkId);
$('.typeahead').on('typeahead:autocompleted', checkId);
$("#search-button").on('click', startSearch);

function success() {
    console.log("Success!");
    var url = "/" + poemID.toString();
    window.location.href = url;
}

function startSearch() {
    $.post("/settings", {"unique": uniqueAuth, "new": newAuth}, success);
}

function checkId() {
    poemID = 0;
    button.attr('disabled','disabled');
    for (i = 0; i < searchCriteria.length; i++) {
        x = searchCriteria[i];
        if (x.title == $("#search").val()) {
            console.log(x.id);
            poemID = x.id;
            button.removeAttr('disabled');
            break;
        };
    };
}

function checkBox(evt) {
    var logId = evt.currentTarget.id;
    var trueFalse = null;
    if (evt.currentTarget.value == 'True' || evt.currentTarget.value == null) {
        evt.currentTarget.src = '../static/unchecked.png';
        evt.currentTarget.value = 'False'
        trueFalse = 'False';
    } else {
        evt.currentTarget.src = '../static/checked.png';
        evt.currentTarget.value = 'True'
        trueFalse = 'True';
    };
    if (logId == 'new-auth') {
        newAuth = trueFalse;
    } else {
        uniqueAuth = trueFalse;
    }
}

$('.checkbox-img').on('click', checkBox);


</script>
</body>
</html>