{% extends 'base.html' %}
{% block title %}
ReadMe: Macro
{% endblock %}
{% block content %}
<div class="container">
<div class="row large-content">
    <div class="col-md-8 col-md-offset-2">
        <div class="row algorithm-header">
            <h4>Macro Lexical Data</h4>
            <br>
            <p>This area will contain some text explaining what this data catagory is on a macro level</p>
        </div>  <!-- end of algorithm-header row -->

        <div class="row algorithm-catagory">
            <h5>World Length: Mean, Median, Mode, and Range</h5>
            <p>Here is some information about what this category is. Blah Blah Blah.</p>
        </div>  <!-- end of algorithm-catagory row -->
        <div class="row algorithm-graph">
            <canvas id="WLChart" width="800" height="500"></canvas>
        </div>  <!-- end of algorithm-graph row -->

        <div class="row algorithm-catagory">
            <h5>Line Length: Mean, Median, Mode and Range</h5>
            <p>Here is some information about what this category is. Blah Blah Blah.</p>
        </div>  <!-- end of algorithm-catagory row -->
        <div class="row algorithm-graph">
            <p>COOL D3 VISUALIZATION GOES HERE</p>
        </div>  <!-- end of algorithm-graph row -->

        <div class="row algorithm-catagory">
            <h5>Poem Length: Lines, Words, Characters</h5>
            <p>Here is some information about what this category is. Blah Blah Blah.</p>
        </div>  <!-- end of algorithm-catagory row -->
        <div class="row algorithm-graph">
            <p>COOL D3 VISUALIZATION GOES HERE</p>
        </div>  <!-- end of algorithm-graph row -->

        <div class="row algorithm-catagory">
            <h5>Stanza Number and Length: Mean, Median, Mode, and Range</h5>
            <p>Here is some information about what this category is. Blah Blah Blah.</p>
        </div>  <!-- end of algorithm-catagory row -->
        <div class="row algorithm-graph">
            <p>COOL D3 VISUALIZATION GOES HERE</p>
        </div>  <!-- end of algorithm-graph row -->

        <div class="row algorithm-catagory">
            <h5>Lexical Diversity</h5>
            <p>Here is some information about what this category is. Blah Blah Blah.</p>
        </div>  <!-- end of algorithm-catagory row -->
        <div class="row algorithm-graph">
            <p>COOL D3 VISUALIZATION GOES HERE</p>
        </div>  <!-- end of algorithm-graph row -->
    </div>  <!-- end of column -->
</div> <!-- end of main-content row -->
</div> <!-- end of container -->
<script>

    // $.get('/wl_avg_data.json', setUpGraph);

    // function setUpGraph(avgData) {

    //     var wlLabels = avgData["labels"];
    //     var meanData = avgData["wl_mean"];
    //     var medianData = avgData["wl_median"];
    //     var modeData = avgData["wl_mode"];
    //     debugger;

    var x = {{ wl_labels }};
    var a = {{ wl_mean }};
    var b = {{ wl_median }};
    var x = {{ wl_mode }};

    debugger;

    var ctx = $("#WLChart").get(0).getContext("2d");
    var myLineChart = new Chart(ctx).Line(data);
    var data = {
        labels: "{{ wl_labels }}",
        datasets: [
            {
                label: "Mean Wold Length",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: {{ wl_mean }}
            },
            {
                label: "Median Word Length",
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                data: {{ wl_median }}
            },
            {
                label: "Mode Word Length",
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                data: {{ wl_mode }}
            }
        ]
    };
    // }

</script>
{% endblock %}