{% extends 'base.html' %}
{% block title %}
ReadMe: Macro
{% endblock %}
{% block content %}
<div class="container">
<div class="row large-content">
    <div class="col-md-8 col-md-offset-2">
        <div class="row algorithm-header">
            <h4>Macro Lexical Data</h4>
            <br>
            <p>This area will contain some text explaining what this data catagory is on a macro level</p>
        </div>  <!-- end of algorithm-header row -->

        <div class="row algorithm-catagory">
            <h5>World Length: Mean, Median, Mode, and Range</h5>
            <p>Here is some information about what this category is. Blah Blah Blah.</p>
        </div>  <!-- end of algorithm-catagory row -->
        <div class="row algorithm-graph">
            <div class="legend" id="wl-avg-graph" style="position:absolute;padding-top:50px;padding-left:550px;list-style: none;"></div>
            <canvas class="graph-chart" id="WLChart" width="750" height="500" style="margin-left:10px;"></canvas>
        </div>  <!-- end of algorithm-graph row -->
        <div class="row algorithm-graph">
            <div class="legend" id="wl-range-graph" style="position:absolute;padding-top:50px;padding-left:550px;list-style: none;"></div>
            <canvas class="graph-chart" id="WLRChart" width="750" height="300" style="margin-left:10px;"></canvas>
        </div>  <!-- end of algorithm-graph row -->
        <div class="row algorithm-catagory">
            <h5>Line Length: Mean, Median, Mode and Range</h5>
            <p>Here is some information about what this category is. Blah Blah Blah.</p>
        </div>  <!-- end of algorithm-catagory row -->
        <div class="row algorithm-graph">
            <div class="legend" id="ll-avg-graph" style="position:absolute;padding-top:50px;padding-left:550px;list-style: none;"></div>
            <canvas class="graph-chart" id="LLChart" width="750" height="500" style="margin-left:10px;"></canvas>
        </div>  <!-- end of algorithm-graph row -->

        <div class="row algorithm-catagory">
            <h5>Poem Length: Lines, Words, Characters</h5>
            <p>Here is some information about what this category is. Blah Blah Blah.</p>
        </div>  <!-- end of algorithm-catagory row -->
        <div class="row algorithm-graph">
            <p>COOL D3 VISUALIZATION GOES HERE</p>
        </div>  <!-- end of algorithm-graph row -->

        <div class="row algorithm-catagory">
            <h5>Stanza Number and Length: Mean, Median, Mode, and Range</h5>
            <p>Here is some information about what this category is. Blah Blah Blah.</p>
        </div>  <!-- end of algorithm-catagory row -->
        <div class="row algorithm-graph">
            <p>COOL D3 VISUALIZATION GOES HERE</p>
        </div>  <!-- end of algorithm-graph row -->

        <div class="row algorithm-catagory">
            <h5>Lexical Diversity</h5>
            <p>Here is some information about what this category is. Blah Blah Blah.</p>
        </div>  <!-- end of algorithm-catagory row -->
        <div class="row algorithm-graph">
            <p>COOL D3 VISUALIZATION GOES HERE</p>
        </div>  <!-- end of algorithm-graph row -->
    </div>  <!-- end of column -->
</div> <!-- end of main-content row -->
</div> <!-- end of container -->
<script>

    var wlData = {
        labels: {{ wl_avg_data["labels"] }},
        datasets: [
            {
                label: "Mean Word Length",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: {{ wl_avg_data["wl_mean"] }}
            },{
                label: "Median Word Length",
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                data: {{ wl_avg_data["wl_median"] }}
            },{
                label: "Mode Word Length",
                fillColor: "rgba(64,64,64,0.2)",
                strokeColor: "rgba(64,64,64,1)",
                pointColor: "rgba(64,64,64,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(64,64,64,1)",
                data: {{ wl_avg_data["wl_mode"] }}
            }]
    };

    var options = {
        legendTemplate : '<% for (var i=0; i<datasets.length; i++) { %>'
                            + '<svg height="15" width="15">'
                            + '<circle cx="7" cy="9" r="5" stroke="black" stroke-width="1" fill="<%=datasets[i].strokeColor%>" /></svg>'
                            +'<% if (datasets[i].label) { %> <%= datasets[i].label %> <% } %>'
                          +'<br>'
                        +'<% } %>',
        bezierCurve: false
    };

    var wlctx = $("#WLChart").get(0).getContext("2d");
    var WLChart = new Chart(wlctx).Line(wlData, options);

    var wlLegend = WLChart.generateLegend();
    $('#wl-avg-graph').append(wlLegend);
    
    var wlrData = {
        labels: {{ wl_range_data["labels"] }},
        datasets: [
            {
                label: "Word Length Range",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: {{ wl_range_data["wl_range"] }}
            }]
    };

    var wlrctx = $("#WLRChart").get(0).getContext("2d");
    var WLRChart = new Chart(wlrctx).Line(wlrData, options);

    var wlrLegend = WLRChart.generateLegend();
    $('#wl-range-graph').append(wlrLegend);


    var llData = {
        labels: {{ ll_avg_data["labels"] }},
        datasets: [
            {
                label: "Median Line Length",
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                data: {{ ll_avg_data["ll_median"] }}
            },{
                label: "Mode Line Length",
                fillColor: "rgba(64,64,64,0.2)",
                strokeColor: "rgba(64,64,64,1)",
                pointColor: "rgba(64,64,64,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(64,64,64,1)",
                data: {{ ll_avg_data["ll_mode"] }}
            },{
                label: "Mean Line Length",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: {{ ll_avg_data["ll_mean"] }}
            }]
    };

    var llctx = $("#LLChart").get(0).getContext("2d");
    var LLChart = new Chart(llctx).Line(llData, options);

    var llLegend = LLChart.generateLegend();
    $('#ll-avg-graph').append(llLegend);

</script>
{% endblock %}