{% extends 'base.html' %}
{% block title %}
ReadMe: Micro
{% endblock %}
{% block content %}
<div class="container">
<div class="row large-content">
    <div class="col-md-10 col-md-offset-1">
        <div class="row algorithm-header">
            <h3>Micro Lexical Data</h3>
            <br>
            <p>Micro Lexical Data describes the rhythm and style of the poem -- Does it employ a rhyme scheme? To what extent does it use alliteration? Is there an explicit narrator present? Does it use common on unique language? Micro Lexical Data pertains to those characteristics that require a closer reading of the poem and tell us about the way language is employed.</p>
            <p>When we compare micro lexical data for two poems, we also measure the degree to which they share the same language (the number of words they share as a percentage of the overall words in a poem).</p>
            <p>All micro lexical data is on a scale from zero to one -- often, this data is in the form of a percentage.
            </p>
        </div>  <!-- end of algorithm-header row -->

        <div class="row algorithm-category">
            <h4 class="bold">Rhyme and Repetition</h4>
            <p>We measure rhyme and repetition by looking at the end of each line -- a higher rhyme score indicates that the poem ends more of its lines on words that rhyme with one another, while a higher repetition score indicates that a poem ends its lines on the same word more frequently.</p>
            <p>Below, you can see these values across our corpus -- the x-axis is the value obtained, while the y-axis is the number of times we see this value in our set of over 10,000 poems.</p>
        </div>  <!-- end of algorithm-category row -->
        <div class="row algorithm-graph">
            <div class="legend" id="rhyme-rep-graph"></div>
            <div class="axis y-axis" id="rhyme-rep-y-axis">Freq.</div>
            <canvas class="graph-chart" id="RRChart" width="950" height="500"></canvas>
            <div class="axis x-axis" id="rhyme-rep-x-axis">Score</div>
        </div>  <!-- end of algorithm-graph row -->

        <div class="row algorithm-category">
            <h4 class="bold">Lexical Diversity</h4>
            <p>Lexical Diversity is a common measurement of the diversity of language employed. We obtain the lexical diversity of a poem by calculating the number of unique words as a percentage of the number of overall words in the poem.</p>
            <p>Again, below you can see these values across our corpus -- the x-axis is the value obtained, while the y-axis is the number of times we see this value in our set of poems.</p>
        </div>  <!-- end of algorithm-category row -->
        <div class="row algorithm-graph">
            <div class="legend" id="lex-div-graph"></div>
            <div class="axis y-axis" id="lex-div-y-axis">Freq.</div>
            <canvas class="graph-chart" id="LDChart" width="950" height="500"></canvas>
            <div class="axis x-axis" id="lex-div-x-axis">Score</div>
        </div>  <!-- end of algorithm-graph row -->

        <div class="row algorithm-category">
            <h4 class="bold">Filler Word Frequency: the, is, a</h4>
            <p>We measure what percentage of the poem is taken up by filler words by looking at the use of "the", "is", and "a". Of course, debate can be had about looking at even more words as filler words ("this", "that", etc.) but for our purposes we measured the three most common.</p>
            <p>Below you can see the number of times we see each word as a percentage of total words in the poem on the x-axis, and frequency of this score on the y-axis.</p>
        </div>  <!-- end of algorithm-category row -->
        <div class="row algorithm-graph">
            <div class="legend" id="filler-freq-graph"></div>
            <div class="axis y-axis" id="filler-freq-y-axis">Freq.</div>
            <canvas class="graph-chart" id="FFChart" width="950" height="500"></canvas>
            <div class="axis x-axis" id="filler-freq-x-axis">Score</div>
        </div>  <!-- end of algorithm-graph row -->

        <div class="row algorithm-category">
            <h4 class="bold">Narrator Word Frequency: I, you</h4>
            <p>We measure whether the poem includes a first person and/or a second person narrative voice by looking at whether we see "I" or "you" in the poem. Of course, we also want to look at the degree to which the narrative presence appears inthe poem, so we frame frequency of I and you as a percentage of overall words in the poem, rather than as a True/False value for whether the narrator is present. Many poems will, of course, receive zero on this, but for those poems that do feature a first person or second person narrative voice, we can scale how large a part of the poem this is.
            </p>
            <p>The graph below follows the same model as the others -- you can see the number of times we see each word as a percentage of total words in the poem on the x-axis, and frequency of this score on the y-axis.</p>
        </div>  <!-- end of algorithm-category row -->
        <div class="row algorithm-graph">
            <div class="legend" id="narrator-freq-graph"></div>
            <div class="axis y-axis" id="narrator-freq-y-axis">Freq.</div>
            <canvas class="graph-chart" id="NFChart" width="950" height="500"></canvas>
            <div class="axis x-axis" id="narrator-freq-x-axis">Score</div>
        </div>  <!-- end of algorithm-graph row -->

        <div class="row algorithm-category">
            <h4 class="bold">Alliteration</h4>
            <p>Alliteration is the occurrence of the same letter or sound at the beginning of adjacent or closely connected words. We measure alliteration in a poem by looking at each line and measuring the number of words that start with the same letter (or letters in the case of "th", "wh", etc.) as another word on the same line, and then looking at those words that are alliterative as a percentage of all words in the poem.</p>
            <p>The graph below follows the same model as the others -- you can see the number of times we see alliterative word as a percentage of total words in the poem on the x-axis, and frequency of this score on the y-axis.</p>
        </div>  <!-- end of algorithm-category row -->
        <div class="row algorithm-graph">
            <div class="legend" id="alliteration-graph"></div>
            <div class="axis y-axis" id="alliteration-y-axis">Freq.</div>
            <canvas class="graph-chart" id="ALChart" width="950" height="500"></canvas>
            <div class="axis x-axis" id="alliteration-x-axis">Score</div>
        </div>  <!-- end of algorithm-graph row -->

    </div>  <!-- end of column -->
</div> <!-- end of main-content row -->
</div> <!-- end of container -->
<script>
// setting up Rhyme and Repetition Graph //
    var templabel = []
    {% for label in rhyme_rep["labels"] %}
    templabel.push("{{label}}")
    {% endfor %}

    var rrData = {
        labels: templabel,
        datasets: [
            {
                label: "Rhyme",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: {{ rhyme_rep["first"] }}
            },{
                label: "Repetition",
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                data: {{ rhyme_rep["second"] }}
            }]
    };

    var options = {
        legendTemplate : '<% for (var i=0; i<datasets.length; i++) { %>'
                            + '<svg height="15" width="15">'
                            + '<circle cx="7" cy="9" r="5" stroke="black" stroke-width="1" fill="<%=datasets[i].strokeColor%>" /></svg>'
                            +'<% if (datasets[i].label) { %> <%= datasets[i].label %> <% } %>'
                          +'<br>'
                        +'<% } %>',
        bezierCurve: false,
        pointHitDetectionRadius: 2,
        responsive: true
    };

    var rrctx = $("#RRChart").get(0).getContext("2d");
    var RRChart = new Chart(rrctx).Line(rrData, options);

    var rrLegend = RRChart.generateLegend();
    $('#rhyme-rep-graph').append(rrLegend);

// setting up Lexical Diversity Graph //

    var ldData = {
        labels: templabel,
        datasets: [
            {
                label: "Lexical Diversity",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: {{ lex_div["first"] }}
            }]
    };

    var ldctx = $("#LDChart").get(0).getContext("2d");
    var LDChart = new Chart(ldctx).Line(ldData, options);

    var ldLegend = LDChart.generateLegend();
    $('#lex-div-graph').append(ldLegend);

// setting up filler frequency graph //
    var smalllabel = []
    {% for label in filler["labels"] %}
    smalllabel.push("{{label}}")
    {% endfor %}

    var ffData = {
        labels: smalllabel,
        datasets: [
            {
                label: "Frequency of \"The\"",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: {{ filler["first"] }}
            },{
                label: "Frequency of \"A\"",
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                data: {{ filler["second"] }}
            },{
                label: "Frequency of \"Is\"",
                fillColor: "rgba(64,64,64,0.2)",
                strokeColor: "rgba(64,64,64,1)",
                pointColor: "rgba(64,64,64,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(64,64,64,1)",
                data: {{ filler["third"] }}
            }]
    };

    var ffctx = $("#FFChart").get(0).getContext("2d");
    var FFChart = new Chart(ffctx).Line(ffData, options);

    var ffLegend = FFChart.generateLegend();
    $('#filler-freq-graph').append(ffLegend);

// setting up narrator frequency graph //

    var nfData = {
        labels: smalllabel,
        datasets: [
            {
                label: "Frequency of \"I\"",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: {{ narrator["first"] }}
            },{
                label: "Frequency of \"You\"",
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                data: {{ narrator["second"] }}
            }]
    };

    var nfctx = $("#NFChart").get(0).getContext("2d");
    var NFChart = new Chart(nfctx).Line(nfData, options);

    var nfLegend = NFChart.generateLegend();
    $('#narrator-freq-graph').append(nfLegend);

//setting up alliteration graph //
    var alData = {
        labels: templabel,
        datasets: [
            {
                label: "Alliteration",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: {{ alliteration["first"] }}
            }]
    };

    var alctx = $("#ALChart").get(0).getContext("2d");
    var ALChart = new Chart(alctx).Line(alData, options);

    var alLegend = ALChart.generateLegend();
    $('#alliteration-graph').append(alLegend);

</script>
{% endblock %}