{% extends 'base.html' %}
{% block title %}
ReadMe: Regions
{% endblock %}
{% block content %}

<div class="container">
<div class="row large-content">
    <div class="col-md-10 col-md-offset-1">
        <div class="row algorithm-header">
            <h3>Regions</h3>
            <br>
            <p>region information will to here!</p>
        </div>  <!-- end of algorithm-header row -->
        <div class="graph-info" id="criteria-info">
        </div> <!-- end of graph-information row -->

        <div class="row context-graph" id="graph-space">
        {% for region in region_data %}
            <div class="col-md-4 graph">
                <div class="graph-box">
                    <canvas class="donut-chart" id="{{region['iden']}}" width="250" height="250"></canvas>
                    <div class="region-title">
                        <h3><a href="/regions/{{ all_regions[region['name']] }}">{{ region['name'] }}</a></h3>
                        <h5>{{ region['total'] }} Poems Total</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>  <!-- end of algorithm-graph row -->
        <div class="row all-context">
            <p>All Regions: 
&nbsp;&nbsp;&nbsp;<a href="/regions/1"> U.S.</a>
&nbsp;&nbsp;&nbsp;<a href="/regions/2"> Midwestern</a>
&nbsp;&nbsp;&nbsp;<a href="/regions/3"> Southern</a>
&nbsp;&nbsp;&nbsp;<a href="/regions/4"> New England</a>
&nbsp;&nbsp;&nbsp;<a href="/regions/5"> Ireland</a>
&nbsp;&nbsp;&nbsp;<a href="/regions/6"> Western</a>
&nbsp;&nbsp;&nbsp;<a href="/regions/7"> Mid-Atlantic</a>
&nbsp;&nbsp;&nbsp;<a href="/regions/8"> Poland</a>
&nbsp;&nbsp;&nbsp;<a href="/regions/9"> Canada</a>
&nbsp;&nbsp;&nbsp;<a href="/regions/10"> Northwestern</a>
&nbsp;&nbsp;&nbsp;<a href="/regions/11"> Southwestern</a>
&nbsp;&nbsp;&nbsp;<a href="/regions/12"> England</a>
&nbsp;&nbsp;&nbsp;<a href="/regions/13"> Scotland</a>
&nbsp;&nbsp;&nbsp;<a href="/regions/14"> Wales</a>
&nbsp;&nbsp;&nbsp;<a href="/regions/15"> Germany</a>
&nbsp;&nbsp;&nbsp;<a href="/regions/16"> Asia</a>
&nbsp;&nbsp;&nbsp;<a href="/regions/17"> South</a>
&nbsp;&nbsp;&nbsp;<a href="/regions/18"> Russia</a>
&nbsp;&nbsp;&nbsp;<a href="/regions/19"> China</a>
&nbsp;&nbsp;&nbsp;<a href="/regions/20"> Latin America</a>
&nbsp;&nbsp;&nbsp;<a href="/regions/21"> Australia and Pacific</a>
&nbsp;&nbsp;&nbsp;<a href="/regions/22"> Caribbean</a>
&nbsp;&nbsp;&nbsp;<a href="/regions/23"> Spain</a>
&nbsp;&nbsp;&nbsp;<a href="/regions/24"> Italy</a>
&nbsp;&nbsp;&nbsp;<a href="/regions/25"> Middle East</a>
&nbsp;&nbsp;&nbsp;<a href="/regions/26"> Israel</a>
&nbsp;&nbsp;&nbsp;<a href="/regions/27"> Greece</a>
&nbsp;&nbsp;&nbsp;<a href="/regions/28"> France</a>
&nbsp;&nbsp;&nbsp;<a href="/regions/29"> Mexico</a>
&nbsp;&nbsp;&nbsp;<a href="/regions/30"> Africa</a>
&nbsp;&nbsp;&nbsp;<a href="/regions/31"> East</a>
&nbsp;&nbsp;&nbsp;<a href="/regions/32"> Eastern Europe</a>
&nbsp;&nbsp;&nbsp;<a href="/regions/33"> Scandinavia</a>
&nbsp;&nbsp;&nbsp;<a href="/regions/34"> Japan</a>
    </p>
    </div>
    </div>  <!-- end of column -->
</div> <!-- end of main-content row -->
</div> <!-- end of container -->
<script>
var colorList = ["#0C090A", "#666362", "#000000", "#B6B6B4", "#736F6E",
                 "#3B3131", "#566D7E", "#2B1B17", "#BCC6CC"];
var i;
var more;

{% for region in region_data %}
    
    var {{ region['iden'] }}data = [];
    i = -1;

    {% for place, number in region['others'] %}

        if (i > 8) {
            i = 0;
        } else {
            i += 1;
        };

        more = {
            value: {{ number }},
            color: colorList[i],
            highlight: "#696969",
            label: "{{ place }}"
        };

        {{ region['iden'] }}data.push(more);
    {% endfor %}

    console.log({{ region['iden'] }}data);
    var {{ region['iden'] }}ctx = $("#{{ region['iden'] }}").get(0).getContext("2d");
    var {{ region['iden'] }}Chart = new Chart({{ region['iden'] }}ctx).Doughnut({{ region['iden'] }}data);

{% endfor %}
    // var ldLegend = LDChart.generateLegend();
    // $('#lex-div-graph').append(ldLegend);
</script>

{% endblock %}