{% extends 'base.html' %}
{% block title %}
ReadMe: Sentiment
{% endblock %}
{% block content %}
<div class="container">
<div class="row large-content">
    <div class="col-md-8 col-md-offset-2">
        <div class="row algorithm-header">
            <h4>Sentiment Data</h4>
            <br>
            <p>This area will contain some text explaining what this data catagory is on a macro level</p>
        </div>  <!-- end of algorithm-header row -->
        <div class="row algorithm-catagory">
            <h5>Positive/Negative Emotions</h5>
            <p>Here is some information about what this category is. Blah Blah Blah.</p>
        </div>  <!-- end of algorithm-catagory row -->
        <div class="row algorithm-graph">
            <p>COOL D3 VISUALIZATION GOES HERE</p>
        </div>  <!-- end of algorithm-graph row -->
        <div class="row algorithm-catagory">
            <h5>Objects/Abstract Language</h5>
            <p>Here is some information about what this category is. Blah Blah Blah.</p>
        </div>  <!-- end of algorithm-catagory row -->
        <div class="row algorithm-graph">
            <p>COOL D3 VISUALIZATION GOES HERE</p>
        </div>  <!-- end of algorithm-graph row -->
        <div class="row algorithm-catagory">
            <h5>Uncommon Language: Our Corpus and Common English</h5>
            <p>Here is some information about what this category is. Blah Blah Blah.</p>
        </div>  <!-- end of algorithm-catagory row -->
        <div class="row algorithm-graph">
            <p>COOL D3 VISUALIZATION GOES HERE</p>
        </div>  <!-- end of algorithm-graph row -->
        <div class="row algorithm-catagory">
            <h5>Human Presence: Male and Female</h5>
            <p>Here is some information about what this category is. Blah Blah Blah.</p>
        </div>  <!-- end of algorithm-catagory row -->
        <div class="row algorithm-graph">
            <p>COOL D3 VISUALIZATION GOES HERE</p>
        </div>  <!-- end of algorithm-graph row -->
        <div class="row algorithm-catagory">
            <h5>Active/Passive Language</h5>
            <p>Here is some information about what this category is. Blah Blah Blah.</p>
        </div>  <!-- end of algorithm-catagory row -->
        <div class="row algorithm-graph">
            <p>COOL D3 VISUALIZATION GOES HERE</p>
        </div>  <!-- end of algorithm-graph row -->
    </div>  <!-- end of column -->
</div> <!-- end of main-content row -->
</div> <!-- end of container -->
{% endblock %}