{% extends 'base.html' %}
{% block title %}
ReadMe: Sentiment
{% endblock %}
{% block content %}
<div class="container">
<div class="row large-content">
    <div class="col-md-10 col-md-offset-1">
        <div class="row algorithm-header">
            <h3>Sentiment Data</h3>
            <br>
            <p>Where metrics in the Micro Lexical Data category look at how the poem uses language, the metrics we collect in the Sentiment Data category look at what sorts of language the poem uses -- what percentage of the words in the poem are considered positive or negative? Active or passive? Is the poem using familiar language or exotic language?</p>
            <p>With the exception of the metrics for uncommon language, all of our sentiment metrics draw on the <a href="http://www.wjh.harvard.edu/~inquirer/homecat.htm">Harvard General Inquirer Categories</a>, a large database of words that have been tagged as related to specific Categories (active, passive, positive, negative, etc.), in order to catagorize the words in our poems appropriately. The Harvard General Inquirer Catagories classifications are often used in text analysis for academic research.</p>
            <p>All sentiment data is on a scale from zero to one, with one indicating that 100% of the words in the poem fit into the category in question.
            </p>
        </div>  <!-- end of algorithm-header row -->
        <div class="row algorithm-category">
            <h4 class="bold">Positive/Negative Emotions</h4>
            <p>For Positive and Negative content in the poems, we look at what percentage of words in the poem are featured in 'Positiv' and 'Negativ' in the Harvard General Inquirer Categories. At the time of writing, the 'Positiv' category contains 1,915 words indicating a positive outlook and 'Negativ' contains 2,291 words indicating a negative outlook.</p>
            <p class="slight-indent italic ninety"><span class="bold">Example 'Positiv' Words:</span> accept, abundance, affection</p>
            <p class="slight-indent italic ninety"><span class="bold">Example 'Negativ' Words:</span> abject, abrasive, ache</p>
            <p>Below, you can see these values across our corpus -- the x-axis is the value obtained, while the y-axis is the number of times we see this value in our set of over 10,000 poems.</p>
        </div>  <!-- end of algorithm-category row -->
        <div class="row algorithm-graph">
            <div class="legend" id="pos-neg-graph"></div>
            <div class="axis y-axis" id="pos-neg-y-axis">Freq.</div>
            <canvas class="graph-chart" id="PNChart" width="950" height="500"></canvas>
            <div class="axis x-axis" id="pos-neg-x-axis">Score</div>
        </div>  <!-- end of algorithm-graph row -->
        <div class="row algorithm-category">
            <h4 class="bold">Concrete/Abstract Language</h4>
            <p>For Abstract and Concrete language content in the poems, we look at what percentage of words in the poem are featured in 'ABS' and 'Object' in the Harvard General Inquirer Categories.At the time of writing, the 'ABS' category contains 218 words reflecting the tendency to use abstract vocabulary, and the 'Object' category contains 661 words referencing objects.</p>
            <p class="slight-indent italic ninety"><span class="bold">Example 'ABS' Words:</span> awareness, belief, capitalism</p>
            <p class="slight-indent italic ninety"><span class="bold">Example 'Object' Words:</span> apartment, auto, belt</p>
            <p>Again, below you can see these values across our corpus -- the x-axis is the value obtained, while the y-axis is the number of times we see this value in our set of over 10,000 poems.</p>
        </div>  <!-- end of algorithm-category row -->
        <div class="row algorithm-graph">
            <div class="legend" id="obj-abs-graph"></div>
            <div class="axis y-axis" id="obj-abs-y-axis">Freq.</div>
            <canvas class="graph-chart" id="OAChart" width="950" height="500"></canvas>
            <div class="axis x-axis" id="obj-abs-x-axis">Score</div>
        </div>  <!-- end of algorithm-graph row -->
        <div class="row algorithm-category">
            <h4 class="bold">Uncommon Language: Our Corpus and Common English</h4>
            <p>In order to measure how unusual the language in the poem is, we compare it to the 2500 most common english words as compiled by the <a href="http://corpus.byu.edu/coca/">Corpus of Contemporary American English</a> to get the percentage of words that are uncommon relative to general english language. The Corpus of American English is a large and balanced corpus of contemporary english run by BYU. We also compare the language in the poem to the 1000 most common words that we see in our own corpus of poems to see to get the percentage of words that are uncommon relative to our data set.</p>
            <p>Again, below you can see these values across our corpus -- the x-axis is the value obtained, while the y-axis is the number of times we see this value in our set of over 10,000 poems.</p>
        </div>  <!-- end of algorithm-category row -->
        <div class="row algorithm-graph">
            <div class="legend" id="common-graph"></div>
            <div class="axis y-axis" id="common-y-axis">Freq.</div>
            <canvas class="graph-chart" id="CWChart" width="950" height="500"></canvas>
            <div class="axis x-axis" id="common-x-axis">Score</div>
        </div>  <!-- end of algorithm-graph row -->
        <div class="row algorithm-category">
            <h4 class="bold">Human Presence: Male and Female</h4>
            <p>For Male and Female presence in the poems, we look at what percentage of words in the poem are featured in 'Female' and 'MALE' in the Harvard General Inquirer Categories. At the time of writing, the 'Female' category contains 43 words referring to women and social roles associated with women, and the 'MALE' category contains 56 words referring to men and social roles associated with men.
            </p>
            <p class="slight-indent italic ninety"><span class="bold">Example 'Female' Words:</span> aunt, bride, girl</p>
            <p class="slight-indent italic ninety"><span class="bold">Example 'MALE' Words:</span> boy, brother, businessman</p>
            <p>Again, below you can see these values across our corpus -- the x-axis is the value obtained, while the y-axis is the number of times we see this value in our set of over 10,000 poems.</p>
        </div>  <!-- end of algorithm-category row -->
        <div class="row algorithm-graph">
            <div class="legend" id="gender-graph"></div>
            <div class="axis y-axis" id="gender-y-axis">Freq.</div>
            <canvas class="graph-chart" id="GFChart" width="950" height="500"></canvas>
            <div class="axis x-axis" id="gender-x-axis">Score</div>
        </div>  <!-- end of algorithm-graph row -->
        <div class="row algorithm-category">
            <h4 class="bold">Active/Passive Language</h4>
            <p>For Active and Passive language in the poems, we look at what percentage of words in the poem are featured in 'Active' and 'Passive' in the Harvard General Inquirer Categories. At the time of writing, the 'Active' category contains 2045 words implying an active orientation, and the 'Passive' category contains 911 words indicating a passive orientation.</p>
            <p class="slight-indent italic ninety"><span class="bold">Example 'Active' Words:</span> achieve, act, adore</p>
            <p class="slight-indent italic ninety"><span class="bold">Example 'Passive' Words:</span> accept, admire, admit</p>
            <p>Again, below you can see these values across our corpus -- the x-axis is the value obtained, while the y-axis is the number of times we see this value in our set of over 10,000 poems.</p>
        </div>  <!-- end of algorithm-category row -->
        <div class="row algorithm-graph">
            <div class="legend" id="active-graph"></div>
            <div class="axis y-axis" id="active-y-axis">Freq.</div>
            <canvas class="graph-chart" id="APChart" width="950" height="500"></canvas>
            <div class="axis x-axis" id="active-x-axis">Score</div>
        </div>  <!-- end of algorithm-graph row -->
    </div>  <!-- end of column -->
</div> <!-- end of main-content row -->
</div> <!-- end of container -->
<script>

// setting up positive and negative percent graph //
    var templabel = []
    {% for label in pos_neg["labels"] %}
    templabel.push("{{label}}")
    {% endfor %}

    var pnData = {
        labels: templabel,
        datasets: [
            {
                label: "Positive Words",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: {{ pos_neg["first"] }}
            },{
                label: "Negative Words",
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                data: {{ pos_neg["second"] }}
            }]
    };

    var options = {
        legendTemplate : '<% for (var i=0; i<datasets.length; i++) { %>'
                            + '<svg height="15" width="15">'
                            + '<circle cx="7" cy="9" r="5" stroke="black" stroke-width="1" fill="<%=datasets[i].strokeColor%>" /></svg>'
                            +'<% if (datasets[i].label) { %> <%= datasets[i].label %> <% } %>'
                          +'<br>'
                        +'<% } %>',
        bezierCurve: false,
        pointHitDetectionRadius : 2,
        responsive: true
    };

    var pnctx = $("#PNChart").get(0).getContext("2d");
    var PNChart = new Chart(pnctx).Line(pnData, options);

    var pnLegend = PNChart.generateLegend();
    $('#pos-neg-graph').append(pnLegend);

// setting up object/abstract percentage graph //
    var oaData = {
        labels: templabel,
        datasets: [
            {
                label: "Concrete (Object) Words",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: {{ obj_abs["first"] }}
            },{
                label: "Abstract Words",
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                data: {{ obj_abs["second"] }}
            }]
    };

    var oactx = $("#OAChart").get(0).getContext("2d");
    var OAChart = new Chart(oactx).Line(oaData, options);

    var oaLegend = OAChart.generateLegend();
    $('#obj-abs-graph').append(oaLegend);

// setting up common percentage graph //
    var longlabel = []
    {% for label in common["labels"] %}
    longlabel.push("{{label}}")
    {% endfor %}

    var cwData = {
        labels: longlabel,
        datasets: [
            {
                label: "Common Generally",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: {{ common["first"] }}
            },{
                label: "Common For Our Corpus",
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                data: {{ common["second"] }}
            }]
    };

    var cwctx = $("#CWChart").get(0).getContext("2d");
    var CWChart = new Chart(cwctx).Line(cwData, options);

    var cwLegend = CWChart.generateLegend();
    $('#common-graph').append(cwLegend);

// setting up gender percentage graph //
    var otherlabel = []
    {% for label in gender["labels"] %}
    otherlabel.push("{{label}}")
    {% endfor %}

    var gfData = {
        labels: otherlabel,
        datasets: [
            {
                label: "Male Words",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: {{ gender["first"] }}
            },{
                label: "Female Words",
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                data: {{ gender["second"] }}
            }]
    };

    var gfctx = $("#GFChart").get(0).getContext("2d");
    var GFChart = new Chart(gfctx).Line(gfData, options);

    var gfLegend = GFChart.generateLegend();
    $('#gender-graph').append(gfLegend);

// setting up active/passive percentage graph //

    var apData = {
        labels: templabel,
        datasets: [
            {
                label: "Active Words",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: {{ active["first"] }}
            },{
                label: "Passive Words",
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                data: {{ active["second"] }}
            }]
    };

    var apctx = $("#APChart").get(0).getContext("2d");
    var APChart = new Chart(apctx).Line(apData, options);

    var apLegend = APChart.generateLegend();
    $('#active-graph').append(apLegend);

</script>
{% endblock %}