{% extends 'base.html' %}
{% block title %}
ReadMe: Subjects
{% endblock %}
{% block content %}

<div class="container">
<div class="row large-content">
    <div class="col-md-10 col-md-offset-1">
        <div class="row algorithm-header">
            <h3>Subjects</h3>
            <br>
            <p>Subject information will go here!</p>
        </div>  <!-- end of algorithm-header row -->
        <div class="graph-info" id="criteria-info">
        </div> <!-- end of graph-information row -->

        <div class="row context-graph" id="graph-space">

        {% for subject in subject_data %}
            <div class="col-md-4 graph">
                <div class="graph-box">
                    <canvas class="donut-chart" id="{{ subject['iden'] }}" width="250" height="250"></canvas>
                    <div class="region-title">
                        <h3><a href="/subjects/{{ all_subjects[subject['name']] }}">{{ subject['name'] }}</a></h3>
                        <h5>{{ subject['total'] }} Poems Total</h5>
                    </div> <!-- end of region title div -->
                </div> <!-- end of graph-box div -->
            </div> <!-- end of graph column -->
        {% endfor %}

        </div>  <!-- end of algorithm-graph row -->
        <div class="row all-context">
            <p> All Subjects: &nbsp;&nbsp;&nbsp;<a href="/subjects/1">Marriage &amp; Companionship</a> &nbsp;&nbsp;&nbsp;<a href="/subjects/2">Nature</a> &nbsp;&nbsp;&nbsp;<a href="/subjects/3">The Body</a> &nbsp;&nbsp;&nbsp;<a href="/subjects/4">Social Commentaries</a> &nbsp;&nbsp;&nbsp;<a href="/subjects/5">Love</a> &nbsp;&nbsp;&nbsp;<a href="/subjects/6">Living</a> &nbsp;&nbsp;&nbsp;<a href="/subjects/7">Crime &amp; Punishment</a> &nbsp;&nbsp;&nbsp;<a href="/subjects/8">Relationships</a> &nbsp;&nbsp;&nbsp;<a href="/subjects/9">Men &amp; Women</a> &nbsp;&nbsp;&nbsp;<a href="/subjects/10"> Realistic &amp; Complicated</a> &nbsp;&nbsp;&nbsp;<a href="/subjects/11"> Pets</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/12"> Mythology &amp; Folklore</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/13"> Ghosts &amp; the Supernatural</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/14"> Family &amp; Ancestors</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/15"> History &amp; Politics</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/16"> Race &amp; Ethnicity</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/17"> Landscapes &amp; Pastorals</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/18"> Seas, Rivers, &amp; Streams</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/19"> Poetic Terms</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/20"> Sonnet</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/21"> Religion</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/22"> Arts &amp; Sciences</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/23"> Eating &amp; Drinking</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/24"> Christianity</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/25"> Activities</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/26"> Poetry &amp; Poets</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/27"> Free Verse</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/28"> Trees &amp; Flowers</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/29"> Summer</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/30"> Spring</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/31"> Romantic Love</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/32"> Classic Love</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/33"> Rhymed Stanza</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/34"> Cities &amp; Urban Life</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/35"> Popular Culture</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/36"> Youth</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/37"> Home Life</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/38"> Coming of Age</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/39"> Time &amp; Brevity</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/40"> Death</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/41"> Travels &amp; Journeys</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/42"> Humor &amp; Satire</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/43"> School &amp; Learning</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/44"> Syllabic</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/45"> Blank Verse</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/46"> Ode</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/47"> War &amp; Conflict</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/48"> Sorrow &amp; Grieving</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/49"> Reading &amp; Books</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/50"> Animals</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/51"> Disappointment &amp; Failure</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/52"> Growing Old</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/53"> Music</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/54"> First Love</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/55"> Philosophy</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/56"> Painting &amp; Sculpture</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/57"> Theater &amp; Dance</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/58"> Weather</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/59"> Fairy-tales &amp; Legends</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/60"> Birth &amp; Birthdays</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/61"> Class</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/62"> Sports &amp; Outdoor Activities</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/63"> Midlife</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/64"> Faith &amp; Doubt</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/65"> Metaphor</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/66"> Gender &amp; Sexuality</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/67"> Sciences</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/68"> Parenthood</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/69"> Infancy</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/70"> Imagery</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/71"> Stars, Planets, Heavens</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/72"> Heartache &amp; Loss</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/73"> Life Choices</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/74"> Heroes &amp; Patriotism</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/75"> Greek &amp; Roman Mythology</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/76"> Health &amp; Illness</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/77"> Break-ups &amp; Vexed Love</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/78"> Friends &amp; Enemies</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/79"> Desire</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/80"> Couplet</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/81"> God &amp; the Divine</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/82"> Aphorism</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/83"> The Mind</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/84"> Horror</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/85"> Other Religions</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/86"> The Spiritual</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/87"> Indoor Activities</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/88"> Fall</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/89"> Jobs &amp; Working</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/90"> Dramatic Monologue</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/91"> Infatuation &amp; Crushes</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/92"> Money &amp; Economics</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/93"> Separation &amp; Divorce</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/94"> Winter</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/95"> Town &amp; Country Life</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/96"> Gardening</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/97"> Persona</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/98"> Ballad</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/99"> Judaism</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/100"> Pastoral</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/101"> Unrequited Love</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/102"> Epigram</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/103"> Photography &amp; Film</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/104"> Elegy</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/105"> Architecture &amp; Design</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/106"> Common Measure</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/107"> Nursery Rhymes</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/108"> Limerick</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/109"> Concrete or Pattern Poetry</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/110"> Mixed</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/111"> Sestina</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/112"> Language &amp; Linguistics</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/113"> Ghazal</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/114"> Buddhism</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/115"> Alliteration</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/116"> Epic</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/117"> Allusion</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/118"> Simile</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/119"> Epigraph</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/120"> Islam</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/121"> Assonance</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/122"> Consonance</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/123"> Ars Poetica</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/124"> Refrain</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/125"> Ekphrasis</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/126"> Haiku</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/127"> Prose Poem</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/128"> Confessional</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/129"> Villanelle</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/130"> Epistle</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/131"> Epithalamion</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/132"> Aubade</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/133"> Series/Sequence</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/134"> Visual Poetry</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/135"> Pantoum</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/136"> Terza Rima</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/137"> Tercet</a>
&nbsp;&nbsp;&nbsp;<a href="/subjects/138"> Quatrain</a>
            </p>
        </div> <!-- end of all subjects row -->
    </div>  <!-- end of column -->
</div> <!-- end of main-content row -->
</div> <!-- end of container -->
<script>

    var colorList = ["#0C090A", "#666362", "#000000", "#B6B6B4", "#736F6E",
                     "#3B3131", "#566D7E", "#2B1B17", "#BCC6CC"];
    var more;
    var i;

{% for subject in subject_data %}
    
    var {{ subject['iden'] }}data = [];
    i = -1;

    {% for t, number in subject['others'] %}
        if (i > 8) {
            i = 0;
        } else {
            i += 1;
        };

        more = {value: {{ number }},
                color: colorList[i],
                highlight: "#696969",
                label: "{{ t }}".replace("&amp;", "&")};

        {{ subject['iden'] }}data.push(more);

    {% endfor %}


    var {{ subject['iden'] }}ctx = $("#{{ subject['iden'] }}").get(0).getContext("2d");
    var {{ subject['iden'] }}Chart = new Chart({{ subject['iden'] }}ctx).Doughnut({{ subject['iden'] }}data);

{% endfor %}
    // var ldLegend = LDChart.generateLegend();
    // $('#lex-div-graph').append(ldLegend);
</script>

{% endblock %}