{% extends 'base.html' %}
{% block title %}
ReadMe: Terms
{% endblock %}
{% block content %}

<div class="container">
<div class="row large-content">
    <div class="col-md-10 col-md-offset-1">
        <div class="row algorithm-header">
            <h3>Poetic Terms</h3>
            <br>
            <p>term information will to here!</p>
        </div>  <!-- end of algorithm-header row -->
        <div class="graph-info" id="criteria-info">
        </div> <!-- end of graph-information row -->

        <div class="row context-graph" id="graph-space">

        {% for term in term_data %}
            <div class="col-md-4 graph">
                <div class="graph-box">
                    <canvas class="donut-chart" id="{{ term['iden'] }}" width="250" height="250"></canvas>
                    <div class="region-title">
                        <h3><a href="/terms/{{ all_terms[term['name']] }}">{{ term['name'] }}</a></h3>
                        <h5>{{ term['total'] }} Poems Total</h5>
                    </div> <!-- end of region title div -->
                </div> <!-- end of graph-box div -->
            </div> <!-- end of graph column -->
        {% endfor %}

        </div>  <!-- end of algorithm-graph row -->
    </div>  <!-- end of column -->
</div> <!-- end of main-content row -->
</div> <!-- end of container -->
<script>
var colorList = ["#0C090A", "#666362", "#000000", "#B6B6B4", "#736F6E",
                 "#3B3131", "#566D7E", "#2B1B17", "#BCC6CC"];
var more;
var i;

{% for term in term_data %}
    
    var {{ term['iden'] }}data = [];
    i = -1;

    {% for t, number in term['others'] %}

        if (i > 8) {
            i = 0;
        } else {
            i += 1;
        };

        more = {
            value: {{ number }},
            color: colorList[i],
            highlight: "#696969",
            label: "{{ t }}"
        };

        {{ term['iden'] }}data.push(more);

    {% endfor %}

    var {{ term['iden'] }}ctx = $("#{{ term['iden'] }}").get(0).getContext("2d");
    var {{ term['iden'] }}Chart = new Chart({{ term['iden'] }}ctx).Doughnut({{ term['iden'] }}data);

{% endfor %}
    // var ldLegend = LDChart.generateLegend();
    // $('#lex-div-graph').append(ldLegend);
</script>

{% endblock %}