{% extends 'base.html' %}
{% block title %}
ReadMe: Terms
{% endblock %}
{% block content %}

<div class="container">
<div class="row large-content">
    <div class="col-md-10 col-md-offset-1">
        <div class="row algorithm-header">
            <h3>Poetic Terms</h3>
            <br>
            <p>The Poetry Foundation tags some poems with one or more poetic terms. Overall, we have 49 poetic terms in our database.In order to avoid overwhelming you with graphs, please see below a sample of some of these terms -- you can see the total number of poems linked to each term, as well as how many poems linked to that term are also linked to another term.</p>
            <p>At the bottom of the page, you can see a complete list of poetic terms -- if you are interested in any particular term, simply click the name to see a complete list of poems associated with that term, as well as a graph of it's relationship with other Poetic Terms.</p>
        </div>  <!-- end of algorithm-header row -->
        <div class="graph-info" id="criteria-info">
        </div> <!-- end of graph-information row -->

        <div class="row context-graph" id="graph-space">

        {% for term in term_data %}
            <div class="col-md-4 graph">
                <div class="graph-box">
                    <canvas class="donut-chart" id="{{ term['iden'] }}" width="250" height="250"></canvas>
                    <div class="region-title">
                        <h3><a href="/terms/{{ all_terms[term['name']] }}">{{ term['name'] }}</a></h3>
                        <h5>{{ term['total'] }} Poems Total</h5>
                    </div> <!-- end of region title div -->
                </div> <!-- end of graph-box div -->
            </div> <!-- end of graph column -->
        {% endfor %}

        </div>  <!-- end of algorithm-graph row -->
         <div class="row all-context">
            <p>All Poetic Terms: 
&nbsp;&nbsp;&nbsp;<a href="/terms/1"> Rhymed Stanza</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/2"> Free Verse</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/3"> Sonnet</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/4"> Syllabic</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/5"> Refrain</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/6"> Blank Verse</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/7"> Ode</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/8"> Couplet</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/9"> Ekphrasis</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/10"> Persona</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/11"> Imagery</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/12"> Epistle</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/13"> Metaphor</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/14"> Consonance</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/15"> Mixed</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/16"> Ballad</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/17"> Dramatic Monologue</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/18"> Simile</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/19"> Elegy</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/20"> Allusion</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/21"> Epigram</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/22"> Alliteration</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/23"> Pastoral</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/24"> Prose Poem</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/25"> Aphorism</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/26"> Aubade</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/27"> Confessional</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/28"> Sestina</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/29"> Common Measure</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/30"> Nursery Rhymes</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/31"> Limerick</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/32"> Concrete or Pattern Poetry</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/33"> Imagist</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/34"> Villanelle</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/35"> Epithalamion</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/36"> Ghazal</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/37"> Ars Poetica</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/38"> Ottava Rima</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/39"> Epic</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/40"> Epigraph</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/41"> Assonance</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/42"> Terza Rima</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/43"> Quatrain</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/44"> Series/Sequence</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/45"> Haiku</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/46"> Symbolist</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/47"> Visual Poetry</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/48"> Pantoum</a>
&nbsp;&nbsp;&nbsp;<a href="/terms/49"> Tercet</a>
            </p>
         </div>
    </div>  <!-- end of column -->
</div> <!-- end of main-content row -->
</div> <!-- end of container -->
<script>
var colorList = ["#0C090A", "#666362", "#000000", "#B6B6B4", "#736F6E",
                 "#3B3131", "#566D7E", "#2B1B17", "#BCC6CC"];
var more;
var i;

{% for term in term_data %}
    
    var {{ term['iden'] }}data = [];
    i = -1;

    {% for t, number in term['others'] %}

        if (i > 8) {
            i = 0;
        } else {
            i += 1;
        };

        more = {
            value: {{ number }},
            color: colorList[i],
            highlight: "#696969",
            label: "{{ t }}"
        };

        {{ term['iden'] }}data.push(more);

    {% endfor %}

    var {{ term['iden'] }}ctx = $("#{{ term['iden'] }}").get(0).getContext("2d");
    var {{ term['iden'] }}Chart = new Chart({{ term['iden'] }}ctx).Doughnut({{ term['iden'] }}data);

{% endfor %}
    // var ldLegend = LDChart.generateLegend();
    // $('#lex-div-graph').append(ldLegend);
</script>

{% endblock %}