{% extends 'base.html' %}

{% block title%}
ReadMe: Writer Mode
{% endblock %}

{% block content %}

<div class="container">
<div class="row large-content">
    <div class="col-md-8 col-md-offset-2">
        <h4>Writer Mode</h4>
        <br>
        <p>Put your own work in below and we will run the same matching algorithm to recommend poetry for you to read based on your writing style. User poems will not be saved.</p>
        <br>
        <div id="user-notice">
        </div>
        <div class="row user-form">
            <div class="col-md-10 col-md-offset-1">
                <form method="POST" action='/writer-mode/interim' id="poem-submission">
                    <label>Title: </label><br>
                        <input class="input-title" type="text" name="title" placeholder="Sonnet 130 (Shakespeare)">
                    <br><br>
                    <label>Poem: </label><br>
                        <textarea class="input-poem" name="text" placeholder="My mistress' eyes are nothing like the sun;
Coral is far more red than her lips' red;
If snow be white, why then her breasts are dun;
If hair be wires, black wires grow on her head.
I have seen roses demasked, red and white,
But no such roses see I in her cheeks;
And in some perfumes is there more delight
Than in the breath that from my mistress reeks.
I love to hear her speak, yet well I know
That music hath a far more pleasing sound;
I grant I never saw a goddess go;
My mistress when she walks treads on the ground.
    And yet, by heaven, I think my love as rare
    As any she belied with false compare." value="<pre>"></textarea>
                    <br><br>
                    <span class="centered">
                        <input id="submit"type="submit" value="Submit">
                        <span id="notice"></span>
                    </span>
                </form>
            </div> <!-- end of column -->
        </div> <!-- end of user-form row -->
    </div> <!-- end of column -->
</div> <!-- end of main-search row -->
</div> <!-- end of container -->

<script>
var title = $('.input-title')[0];
var poem = $('.input-poem')[0];


function success() {
    window.location.href = '/writer-mode/results';
}


function checkContent(evt) {
    evt.preventDefault();
    var titleLength = title.value.length;
    var poemLength = poem.value.length;
    if (titleLength < 1 && poemLength < 250) {
        $('#user-notice').html("<p>Please provide a title and a longer poem (250 character min) to receive meaningful results</p>");
    } else if (titleLength < 1 ) {
        $('#user-notice').html("<p>Please provide a title.</p>");
    } else if (poemLength < 250) {
        $('#user-notice').html("<p>Please provide a longer poem (250 character min) to receive meaningful results</p>");
    } else if (poemLength >= 20000) {
        $('#user-notice').html("<p>Please limit your poem to a reasonbale length (under 20,000 characters) to receive meaningful results</p>");
    } else {
        var poemString = poem.value;
        poemString = poemString.replace('<', '&lt;').replace('>', '&gt;').replace(/\r|\n|\r\n/g, '<br>');
        $('#notice').html("Analyzing Poem...");
        $.post('/writer-mode/interim', {"title": title.value, "text": poemString}, success);
    };
}

$("#submit").on('click', checkContent)

</script>

{% endblock %}