{% extends 'base.html' %}
{% block title%}
ReadMe: Writer Mode Recommendations
{% endblock %}
{% block content %}
<div class="container">

<div class="row main-content">
    <div class="col-md-8 col-md-offset-1 reading">
        <h2 class="title main"> {{ title }}</h2>
        <h4 class="author main"> by User </h4>
        <br>
        <div class="poem-content">
            {{ text }}
        </div>
    </div> <!-- end of first column -->
    <div class="col-md-2">
        <div class="row results">
            <h5 class="title">{{ title }}</h5>
            <h6 class="author">By User</h6>
            <p class="main-poem">Matched Poem</p>
        </div>
        <div class="row results">
            <h5 class="title">Title Goes here</h5>
            <h6 class="author">By Author</h6>
            <p class="match-percent">%80</p>
        </div>
        <div class="row results">
            <h5 class="title">Title Goes here</h5>
            <h6 class="author">By Author</h6>
            <p class="match-percent">%80</p>
        </div>
        <div class="row results">
            <h5 class="title">Title Goes here</h5>
            <h6 class="author">By Author</h6>
            <p class="match-percent">%80</p>
        </div>
        <div class="row results">
            <h5 class="title">Title Goes here</h5>
            <h6 class="author">By Author</h6>
            <p class="match-percent">%80</p>
        </div>
        <div class="row results">
            <h5 class="title">Title Goes here</h5>
            <h6 class="author">By Author</h6>
            <p class="match-percent">%80</p>
        </div>
    </div> <!-- end of results column -->
</div> <!-- end of main-content row -->
</div> <!-- end of container div -->

{% endblock %}