{% extends 'base.html' %}
{% block title%}
ReadMe: Writer Mode Recommendations
{% endblock %}
{% block content %}
<div class="container">

<div class="row main-content">
    <div class="col-md-8 col-md-offset-1 reading">
        <h2 class="title main"> {{ main_title }}</h2>
        <h4 class="author main"> by {{ poet }} </h4>
        <br>
        <div class="poem-content">
            {{ text|safe }}
        </div>
    </div> <!-- end of first column -->

    <div class="col-md-2">

        {% if wikipedia_url %}
        <div class="wikipedia">
            <a href= {{ wikipedia_url }}>
            <img class="author-photo" src={{ source }}>
            <h6 class="learn-more">Read More About {{ poet }}</h6>
            </a>
        </div>
        {% endif %}

        <div class="row results">
            <h5 class="title"><a href="/writer-mode/results0">{{ title }}</a></h5>
            <h6 class="author">By User</h6>
            <p class="main-poem">Matched Poem</p>
        </div>

        {% for poem, match, i in match_poems %}
        <div class="row results">
            <h5 class="title">
                <a href='/writer-mode/results{{i}}'>{{ poem.title }}</a>
            </h5>
            <h6 class="author">{{ poem.poet.name }}</h6>
            <p class="match-percent">{{ match }}</p>
        </div>
        {% endfor %}

    </div> <!-- end of results column -->
</div> <!-- end of main-content row -->
</div> <!-- end of container div -->

{% endblock %}