{% extends 'base.html' %}
{% block title%}
ReadMe: Writer Mode Recommendations
{% endblock %}
{% block content %}
<div class="container">

<div class="row main-content">
    <div class="col-md-8 col-md-offset-1 reading">
        <h2 class="title main"> {{ main_title }}</h2>
        <h4 class="author main"> by {{ poet }} </h4>
        {% if main_id != None %}
        <p><a href="{{ url }}">Read on The Poetry Foundation</a></p>
        <p><a href="/{{ main_id }}/about">See Stats</a></p>
        <p><a href="/{{ main_id }}">More Like This</a></p>
        {% else %}
        <p><a href="/writer-mode/about">See Stats</a></p>
        {% endif %}
        <br>
        <div class="poem-content">
            {{ text|safe }}
        </div>
    </div> <!-- end of first column -->

    <div class="col-md-2">

        {% if wikipedia_url %}
        <div class="wikipedia">
            <a href= {{ wikipedia_url }}>
            <img class="author-photo" src={{ source }}>
            <h6 class="learn-more">Read More About {{ poet }}</h6>
            </a>
        </div>
        {% endif %}

        <div class="row results">
            <h5 class="title"><a href="/writer-mode/0">{{ title }}</a></h5>
            <h6 class="author">By User</h6>
            <p class="main-poem">Matched Poem</p>
        </div>

        {% for poem, i in match_poems %}
        <div class="row results">
            <h5 class="title">
                <a href='/writer-mode/{{ poem.poem_id }}'>{{ poem.title }}</a>
            </h5>
            <h6 class="author">{{ poem.poet.name }}
                <img class="best-button {{ poem.poet.name }}" id="{{ poem.poem_id }}/{{i}}" src="../static/greyheart.png"></h6>
        </div>
        {% endfor %}

    </div> <!-- end of results column -->
</div> <!-- end of main-content row -->
</div> <!-- end of container div -->

<script>

function success() {
    console.log("Success!");
}

function changeImage(evt) {
    $('.best-button').attr('src', '../static/greyheart.png');
    var information = evt.currentTarget.id;
    evt.currentTarget.src = '../static/blackheart.png';
    // send the id to a route to log it
    $.post('/writerfeedback', {"match_poem": information}, success);
    // $(".best-button").off('click');
}

{% if best_selected %}
    $(".{{ best_selected }}").attr('src', '../static/blackheart.png');
{% endif %}
    $(".best-button").on('click', changeImage);


</script>

{% endblock %}